/** punchout session only css should start with .is-punchout-session */

/*.is-punchout-session .customer-welcome,
.is-punchout-session .customer-name,
.is-punchout-session .customer-menu,*/
.is-punchout-session .register-link,
.is-punchout-session .authorization-link
{
    display:none;
}
.punchout-close {
    display:none !important;
}
.is-punchout-session .punchout-close.on {
    display:inline !important;
}
.is-punchout-session .punchout-close {
    display:inline !important;
}
