<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="punchout-session" xsi:type="string">Punchout2Go\Punchout\CustomerData\PunchoutQuoteId</item>
            </argument>
        </arguments>
    </type>
<!--
    <type name="Magento\Checkout\Controller\Cart">
        <plugin name="punchout_restrict_only_punchout" type="Punchout2Go\Punchout\Plugin\RestrictOnlyPunchoutPlugin"/>
    </type>
-->
    <type name="Punchout2Go\Punchout\Model\AccessValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="basic" xsi:type="object">Punchout2Go\Punchout\Model\AccessValidator\Basic</item>
                <item name="punchout-session-start" xsi:type="object">Punchout2Go\Punchout\Model\AccessValidator\SessionStart</item>
                <item name="forward" xsi:type="object">Punchout2Go\Punchout\Model\AccessValidator\Forward</item>
                <item name="punchout-redirect" xsi:type="object">Punchout2Go\Punchout\Model\AccessValidator\PunchoutRedirect</item>
				<item name="session" xsi:type="object">Punchout2Go\Punchout\Model\Validator\SessionValidator</item>
            </argument>
        </arguments>
    </type>
    
</config>
