<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <event name="layout_load_before">
        <observer name="punchout_add_layout" instance="Punchout2Go\Punchout\Observer\LayoutObserver" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="punchout_hard_fail_observer" instance="Vendor\Punchout\Observer\PunchoutOnlyObserver"/>
    </event>
</config>
